<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>danhpv.filters.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>danhpv.blo.service.ApplicationConfig</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>danhpv.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEventsController</servlet-name>
        <servlet-class>danhpv.controllers.ViewEventsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>danhpv.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>danhpv.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMemController</servlet-name>
        <servlet-class>danhpv.controllers.ManageMemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEventsController</servlet-name>
        <servlet-class>danhpv.controllers.ManageEventsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusController</servlet-name>
        <servlet-class>danhpv.controllers.ChangeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountController</servlet-name>
        <servlet-class>danhpv.controllers.EditAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePictureController</servlet-name>
        <servlet-class>danhpv.controllers.ChangePictureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>danhpv.controllers.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNameController</servlet-name>
        <servlet-class>danhpv.controllers.SearchNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>danhpv.controllers.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEventToCartController</servlet-name>
        <servlet-class>danhpv.controllers.AddEventToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEventsDetailsController</servlet-name>
        <servlet-class>danhpv.controllers.ViewEventsDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveEventController</servlet-name>
        <servlet-class>danhpv.controllers.RemoveEventCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterEventsController</servlet-name>
        <servlet-class>danhpv.controllers.RegisterEventsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeRoleController</servlet-name>
        <servlet-class>danhpv.controllers.ChangeRoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveEventCartController</servlet-name>
        <servlet-class>danhpv.controllers.RemoveEventCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveEventFromAdminController</servlet-name>
        <servlet-class>danhpv.controllers.RemoveEventFromAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewEventController</servlet-name>
        <servlet-class>danhpv.controllers.CreateNewEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEventsController</servlet-name>
        <servlet-class>danhpv.controllers.EditEventsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEventsController</servlet-name>
        <servlet-class>danhpv.controllers.UpdateEventsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewGroupJoinController</servlet-name>
        <servlet-class>danhpv.controllers.ViewGroupJoinController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInfoGroupController</servlet-name>
        <servlet-class>danhpv.controllers.ViewInfoGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveTheGroupController</servlet-name>
        <servlet-class>danhpv.controllers.LeaveTheGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageGroupController</servlet-name>
        <servlet-class>danhpv.controllers.ManageGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveGroupController</servlet-name>
        <servlet-class>danhpv.controllers.RemoveGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewGroupController</servlet-name>
        <servlet-class>danhpv.controllers.CreateNewGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMemToCartController</servlet-name>
        <servlet-class>danhpv.controllers.AddMemToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterMemberController</servlet-name>
        <servlet-class>danhpv.controllers.RegisterMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveMemberFromCartController</servlet-name>
        <servlet-class>danhpv.controllers.RemoveMemberFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMemDetailsController</servlet-name>
        <servlet-class>danhpv.controllers.ViewMemDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveMemFromGroupController</servlet-name>
        <servlet-class>danhpv.controllers.RemoveMemFromGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentEventController</servlet-name>
        <servlet-class>danhpv.controllers.CommentEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEventReportController</servlet-name>
        <servlet-class>danhpv.controllers.ViewEventReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGroupJoinController</servlet-name>
        <servlet-class>danhpv.controllers.ViewGroupJoinController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchGroupController</servlet-name>
        <servlet-class>danhpv.controllers.SearchGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryJoinController</servlet-name>
        <servlet-class>danhpv.controllers.ViewHistoryJoinController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewNotificationController</servlet-name>
        <servlet-class>danhpv.controllers.ViewNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindStatisticController</servlet-name>
        <servlet-class>danhpv.controllers.FindStatisticController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/webresources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEventsController</servlet-name>
        <url-pattern>/ViewEventsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMemController</servlet-name>
        <url-pattern>/ManageMemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEventsController</servlet-name>
        <url-pattern>/ManageEventsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusController</servlet-name>
        <url-pattern>/ChangeStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountController</servlet-name>
        <url-pattern>/EditAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePictureController</servlet-name>
        <url-pattern>/ChangePictureController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNameController</servlet-name>
        <url-pattern>/SearchNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/CreateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEventToCartController</servlet-name>
        <url-pattern>/AddEventToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEventsDetailsController</servlet-name>
        <url-pattern>/ViewEventsDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveEventController</servlet-name>
        <url-pattern>/RemoveEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterEventsController</servlet-name>
        <url-pattern>/RegisterEventsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeRoleController</servlet-name>
        <url-pattern>/ChangeRoleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveEventCartController</servlet-name>
        <url-pattern>/RemoveEventCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveEventFromAdminController</servlet-name>
        <url-pattern>/RemoveEventFromAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewEventController</servlet-name>
        <url-pattern>/CreateNewEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEventsController</servlet-name>
        <url-pattern>/EditEventsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEventsController</servlet-name>
        <url-pattern>/UpdateEventsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewGroupJoinController</servlet-name>
        <url-pattern>/viewGroupJoinController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInfoGroupController</servlet-name>
        <url-pattern>/ViewInfoGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveTheGroupController</servlet-name>
        <url-pattern>/LeaveTheGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageGroupController</servlet-name>
        <url-pattern>/ManageGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveGroupController</servlet-name>
        <url-pattern>/RemoveGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewGroupController</servlet-name>
        <url-pattern>/CreateNewGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMemToCartController</servlet-name>
        <url-pattern>/AddMemToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterMemberController</servlet-name>
        <url-pattern>/RegisterMemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveMemberFromCartController</servlet-name>
        <url-pattern>/RemoveMemberFromCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMemDetailsController</servlet-name>
        <url-pattern>/ViewMemDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveMemFromGroupController</servlet-name>
        <url-pattern>/RemoveMemFromGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentEventController</servlet-name>
        <url-pattern>/CommentEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEventReportController</servlet-name>
        <url-pattern>/ViewEventReportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGroupJoinController</servlet-name>
        <url-pattern>/ViewGroupJoinController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchGroupController</servlet-name>
        <url-pattern>/SearchGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryJoinController</servlet-name>
        <url-pattern>/ViewHistoryJoinController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewNotificationController</servlet-name>
        <url-pattern>/ViewNotificationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindStatisticController</servlet-name>
        <url-pattern>/FindStatisticController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <persistence-unit-ref>
        <persistence-unit-ref-name>persistence-factory</persistence-unit-ref-name>
        <persistence-unit-name>PRJ321_FALL2020_AssignmentPU</persistence-unit-name>
    </persistence-unit-ref>
</web-app>
